@page
@model StudioPilates.Pages.CustomerCRUD.ListModel

@{
    ViewData["Title"] = "Lista de Cliente";
}

<header>
    <div class="row align-items-center">
        <div class="col-sm-12 text-center"><h1>@ViewData["Title"]</h1></div>
        <div class="col-sm-6 text-right"><a asp-page="Create" class="btn btn-info" data-toggle="tooltip" title="Cadastrar um Novo Cliente">Novo Cliente</a></div>
    </div>
</header>


@*<hr class="mt-1" />

<div class="row">
    <div class="col-12 col-md-4">
        <form class="form-inline justify-content-center justify-content-md-start mb-sm-3 mb-md-0" action="/Admin/CustomerCRUD/List" method="get" id="searchForm">
            <input type="text" name="q" id="q" placeholder="Buscar Cliente" class="form-control form-control-sm mr-sm-1" />
            <input type="hidden" name="o" value="0" id="o">
            <input type="hidden" name="p" value="1" id="p" />
            <button class="btn btn-sm btn-success my-2 my-sm-0 form-control form-control-sm">Buscar</button>
        </form>
    </div>
    <div>
        <div class="col-12 col-md-10">
            <div class="d-flex flex-row-reverse justify-content-md-start justify-content-center">
                @if (Model.Customers.Count > 1)
                {
                    <form class="form-inline ml-3 d-inline-block">
                        <select class="form-control custom-select-sm selectOrder">
                            <option value="1">Ordenar por Nome</option>
                            <option value="2">Ordenar pelo mês de nascimento</option>
                        </select>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <a asp-page="Create" class="btn btn-info" data-toggle="tooltip" title="Cadastrar um Novo Cliente">Novo Cliente</a>
    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <nav class="d-inline-block">
            <ul class="pagination pagination-sm my-0">
                @for (int i = 1; i <= Model.NumberPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item disabled">
                            <button class="page-link" value="@i">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" value="@i">@i</button>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>


<hr class="mt-3" />*@

<main class="container">
    @if (Model.Customers.Count > 0)
    {
        <table class="table table-striped table-light table-sm table-hover">
            <thead>
                <tr class="bg-dark text-white text-center">
                    <th>@Html.DisplayNameFor(model => model.Customers[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Customers[0].Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Customers[0].Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Customers[0].Gender)</th>
                    <th>@Html.DisplayNameFor(model => model.Customers[0].Occupation)</th>
                    <th class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.Customers[0].Birth_date)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Gender)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Occupation)</td>
                        <td class="d-none d-lg-table-cell text-center">@Html.DisplayFor(modelItem => item.Birth_date)</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-sm p-1" asp-page="./Edit" asp-route-id="@item.Id_customer" data-toggle="tooltip" title="Alterar">
                                <svg class="bi" width="24" height="24" fill="currentColor" id="cep_none">
                                    <use xlink:href="/bi.svg#pencil-square" />
                                </svg>
                            </a>
                            <form class="d-inline-block" asp-page-handler="delete" asp-route-id="@item.Id_customer" method="post">
                                <button class="btn btn-danger btn-sm p-1" onclick="confirmDelection(this);" type="button" data-toggle="tooltip" title="Excluir">
                                    <svg class="bi" width="24" height="24" fill="currentColor" id="cep_none">
                                        <use xlink:href="/bi.svg#trash" />
                                    </svg>
                                </button>
                            </form>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-success my-2 my-sm-0" asp-page="/CustomerCrud/Create" asp-route-id="@item.Id_customer" data-toggle="tooltip" title="Questionário">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </a>
                            <a class="btn btn-sm btn-primary my-2 my-sm-0" asp-page="/CustomerCrud/Details" asp-route-id="@item.Id_customer" data-toggle="tooltip" title="Detalhes">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </a>
                            <a class="btn btn-sm btn-primary my-2 my-sm-0" asp-page="/CustomerCrud/Edit" asp-route-id="@item.Id_customer" data-toggle="tooltip" title="Alterar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                            <form class="d-inline-block" asp-page-handler="delete" asp-route-id="@item.Id_customer" method="post">
                                <button class="btn btn-sm btn-danger my-2 my-sm-0" onclick="confirmDelection(this);" type="button" data-toggle="tooltip" title="Excluir">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </button>
                            </form>
                            @if (Model.EmailsAdmins.Contains(item.Email))
                            {
                                <form class="d-inline-block" asp-page-handler="deladmin" asp-route-id="@item.Id_customer" method="post">
                                    <button class="btn btn-warning btn-sm p-1" type="submit" data-toggle="tooltip" title="Transformar em Usuário Comum">
                                        <svg class="bi" width="16" height="16" fill="currentColor" id="cep_none">
                                            <use xlink:href="/bi.svg#person" />
                                        </svg>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form class="d-inline-block" asp-page-handler="setadmin" asp-route-id="@item.Id_customer" method="post">
                                    <button class="btn btn-success btn-sm p-1" type="submit" data-toggle="tooltip" title="Transformar em Usuário Administrador">
                                        <svg class="bi" width="16" height="16" fill="currentColor" id="cep_none">
                                            <use xlink:href="/bi.svg#shield-lock" />
                                        </svg>
                                    </button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <h2>Não há Cliente cadastrado.</h2>

        if (Request.QueryString.HasValue)
        {
            <div class="col-12">
                <h2>Sua busca por <b>@Request.Query["searchTerm"]</b>não obteve resultados.</h2>
            </div>
        }
        else
        { <div class="col-12">
                <h2>Não há Cliente cadastrado.</h2>
            </div>

        }
    }
</main>

<hr class="mt-1" />

<div class="row">
    <div class="col-12 ">
        <nav class="d-inline-block">
            <ul class="pagination pagination-sm my-0">
                @for (int i = 1; i <= Model.NumberPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item disabled">
                            <button class="page-link" value="@i">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" value="@i">@i</button>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_CustomConfirm");}
}
<script>
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    $(document).ready(function () {
        var qs = getUrlVars();
        if (qs["o"] != null) {
            $(".selectOrder").val(qs["o"]);
            $("#o").val(qs["o"]);
        } else {
            $(".selectOrder").val("1");
            $("#o").val("1");
        }
        if (qs["q"] != null) {
            $("#q").val(decodeURI(qs["q"]));
        }
    });

    $(".selectOrder").change(function () {
        $("#o").val($(this).val());
        $("#searchForm").submit();
    });

    $(".page-link").click(function () {
        $("#p").val($(this).val());
        $("#searchForm").submit();
    });
</script>



