@page
@model StudioPilates.Pages.Customer_question_response.DetailsModel

@{
    ViewData["Title"] = "Detalhes das Respostas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4><b>Resposta:</b>@Model.Customer_question_response.Id_customer</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_question_response.Id_customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer_question_response.Id_customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_question_response.Id_question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer_question_response.Id_question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_question_response.Response)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer_question_response.Response)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer_question_response.Id_customer_question_response">Alterar</a> |
    <a asp-page="./Index">Voltar à Listagem</a>
</div>
