@page
@model StudioPilates.Pages.CustomerCRUD.DeleteModel

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h1>@ViewData["Title"]</h1>

<h3>Deseja realmente excluir esse Cliente?</h3>
<div>
    <h4><b>Nome:</b>@Model.Customer.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Birth_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Birth_date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.Id_customer" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar à Listagem</a>
    </form>
</div>
